global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
      
  - job_name: "question-bank"
    metrics_path: "/qbs/actuator/prometheus"
    static_configs:
      - targets: ["question-bank-service:8080"]
