<div class="assessment-page">

    <!-- HEADER -->
    <header class="assessment-header">
        <h2>{{ assessmentName }}</h2>
        <div class="timer">⏱️ {{ formatTime() }}</div>
    </header>

    <!-- BODY -->
    <div class="assessment-body">

        <!-- LEFT: SECTIONS -->
        <aside class="section-tabs">
            <button *ngFor="let sec of sections; let i = index" (click)="switchSection(i)"
                [class.active]="i === currentSectionIndex">
                {{ sec.sectionName  }}
            </button>
        </aside>

        <!-- CENTER: QUESTION -->
        <section class="question-area" *ngIf="currentQuestion as q">
            <h3>
                {{ currentSection.sectionName }} – Question {{ currentQuestionIndex + 1 }}
            </h3>
            <div class="question-text">
                <p><strong>English:</strong> {{ q.translations?.['en']?.questionText }}</p>
                <p><strong>Hindi:</strong> {{ q.translations?.['hi']?.questionText }}</p>
            </div>

            <div class="option" *ngFor="let opt of q.translations?.['en']?.answerOptions; let i = index">
                <label>
                    <input type="radio" [name]="'q' + q.questionId" [value]="i" [(ngModel)]="q.selectedIndex" />
                    <div class="option-text">
                        <div class="en">
                            {{ q.translations?.['en']?.answerOptions?.[i] }}
                        </div>
                        <div class="hi">
                            {{ q.translations?.['hi']?.answerOptions?.[i] }}
                        </div>
                    </div>
                </label>
            </div>
        </section>

        <!-- RIGHT: QUESTION NAV -->
        <aside class="question-nav">
            <button *ngFor="let q of currentSection.questions; let i = index" (click)="goToQuestion(i)"
                [class.active]="i === currentQuestionIndex" [class.attempted]="q.selectedIndex !== null">
                {{ i + 1 }}
            </button>
        </aside>

    </div>

    <!-- FOOTER -->
    <footer class="assessment-footer">
        <button class="btn-outline" (click)="nextQuestion()">
            Save & Next
        </button>

        <button class="btn-primary" [disabled]="!hasAnyAnswer()" (click)="submit()">
            Submit Test
        </button>

    </footer>

</div>