<h1>Dashboard</h1>
<nav style="padding: 1rem; background-color: #f2f2f2;">
  <ul style="list-style: none; padding: 0;">
    <li><a routerLink="/manageUser">Manage Users Dashboard</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/profile">Settings</a></li>
    <li><a routerLink="/addUser">Add user</a></li>
    <li><a routerLink="/assessment">Practice Assessment</a></li>
    <li><a routerLink="/resultsDashboard">Assessment Results Dashboard</a></li>
    <li><a routerLink="/fileUpload">Upload Files to Azure Blob</a></li>
  </ul>
</nav>