<div class="form-container">
    <h2>Add New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label>Name:</label>
        <input type="text" formControlName="userName" required>
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" required>
      </div>
  
      <div class="form-group">
        <label>Role:</label>
        <select formControlName="role">
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <option value="Editor">Editor</option>
        </select>
      </div>
  
      <div class="form-group">
        <label>Profile Image:</label>
        <input type="file" (change)="onFileChange($event)">
        <img *ngIf="previewImage" [src]="previewImage" class="preview-img">
      </div>
  
      <button type="submit" class="btn-submit" [disabled]="userForm.invalid">Add User</button>
    </form>
  </div>
  